{{define "add"}}
{{template "top"}}

<p class="top-banner"><a href="/home">mima-go</a> .. <strong>Add a new item</strong></p>

<hr />
<p style="text-align:right">
    <a href="/index">Index</a>
</p>

{{if .Err}}
    <p style="font-weight: bold; color: red">
    Error: {{.Err}}
    </p>
{{end}}

<form action="/api/add" method="POST" autocomplete="off">
  <label for="Title">Title:</label>
    <input type="text" name="Title" id="Title" class="Fields" autofocus required
           onblur="this.value = this.value.trim()" />
  <label for="Username">Username:</label>
    <input type="text" name="Username" id="Username" class="Fields"
           onblur="this.value = this.value.trim()" />
  <label for="Password">Password: (<a href="#" onclick="generatePW()">generate</a>)</label>
    <input type="text" name="Password" id="Password" class="Fields"
           style="font-family:Serif; letter-spacing: .1rem;"
           value="{{.Password}}" oninput="display_pwd()" />
    <div id="pwd" style="margin-left: 1.1em; letter-spacing: .1rem;"></div>
  <label for="Notes">Notes:</label>
    <textarea name="Notes" id="Notes" class="Fields"></textarea>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>

{{template "display-pwd"}}

{{if .}}
<script type="text/javascript">
document.getElementById('Title').value = {{.Title}}
document.getElementById('Username').value = {{.Username}}
document.getElementById('Password').value = {{.Password}}
document.getElementById('Notes').value = {{.Notes}}
display_pwd()
</script>
{{end}}

{{template "bottom"}}
{{end}}
