{{define "change-password"}}
    {{template "top"}}
    <p><a href="/home">mima-go</a> .. <strong>Change Password</strong></p>

    <hr />

    <p>请输入当前密码和新密码：</p>
    <p>(注意: 一旦密码修改成功, 旧密码立即失效, 请记住新密码.)</p>
    {{if .Info}}
        <p style="font-weight: bold; color: blue">{{.Info}}</p>
    {{end}}
    {{if .Err}}
        <p style="font-weight: bold; color: red">Error: {{.Err}}</p>
    {{end}}

    <form action="/change-password/" method="POST" autocomplete="off">
        <p>
            <label for="old-pwd">当前密码:</label>
            <input type="password" name="old-pwd" id="old-pwd" class="Fields" autofocus required/>
        </p>
        <div>
            <label for="Password">新密码:</label>
            <input type="password" id="Password" name="new-pwd" class="Fields" oninput="display_pwd()" required/>
            <div id="pwd" style="font-size: larger;margin-left: 1.1em;"></div>
        </div>
        <p>
            <input type="submit" value="Submit"/>
        </p>
    </form>

    {{template "display-pwd"}}

    {{template "bottom"}}
{{end}}
