{{define "create-account"}}
{{template "top"}}
<p>mima-go .. <strong>Create New Account</strong></p>

<hr />

<p style="text-align:right"><a href="/login">Login</a></p>

<p>The <strong>mima.db</strong> file does not exist.</p>
<p>Input a new password to create a new account.</p>

{{if .Err}}
    <p style="font-weight: bold; color: red">
    Error: {{.Err}}
    </p>
{{end}}

<form action="/create-account" method="POST" autocomplete="off">
<label for="Password">Master Password:</label>
  <input type="password" id="Password" name="password" class="Fields" oninput="display_pwd()" autofocus required/>
  <div id="pwd" style="font-size: larger;margin-left: 1.1em;"></div>
<p><input type="submit" value="Submit"/></p>
</form>

{{template "display-pwd"}}

{{template "bottom"}}
{{end}}
