{{define "edit"}}
{{template "top"}}
{{template "display-pwd"}}

<p><a href="/home">mima-go</a> .. Edit</p>

<hr />

{{if .Err}}
  <p style="font-weight: bold; color: red">
  Error: {{.Err}}
  </p>
{{end}}

{{if .Info}}
  <p style="font-weight: bold; color: blue">
  Info: {{.Info}}
  </p>
{{end}}

{{ if .ID }}
<form action="/edit/" method="POST" autocomplete="off">
  <input type="hidden" name="id" value="{{.ID}}" />
  <label for="Title">Title:</label>
    <input type="text" name="Title" id="Title" class="Fields" autofocus required
           value="{{.Title}}" onblur="this.value = this.value.trim()" />
  <label for="Alias">Alias:</label>
    <input type="text" name="Alias" id="Alias" class="Fields"
          value="{{.Alias}}" onblur="this.value = this.value.trim()" />
  <label for="Username">Username:</label>
    <input type="text" name="Username" id="Username" class="Fields"
           value="{{.Username}}" onblur="this.value = this.value.trim()" />
  <label for="Password">Password: (<a href="#" onclick="generatePW()">generate</a>)</label>
    <input type="text" name="Password" id="Password" class="Fields"
           style="font-family:Serif;" 
           value="{{.Password}}" oninput="display_pwd()" />
    <div id="pwd" style="font-size: larger;margin-left: 1.1em;"></div>
  <label for="Notes">Notes:</label>
    <textarea name="Notes" id="Notes" class="Fields">{{.Notes}}</textarea>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>
<script type="text/javascript">
  display_pwd()
</script>
{{end}}

{{if .History}}
  <p>History</p>
  <hr />
  <ul>
    {{range .History}}
      <li>
        <p>
          <strong>{{.Title}}</strong>
          <br />
          <span class="Deleted" style="font-size:x-small;color:grey">DateTime: {{.DateTime}}</span><br />
          {{if .Username}}Username: {{.Username}}{{end}}
          {{if .Password}}Password: {{.Password}}<br />{{end}}
          {{if .Notes}}Notes: {{.Notes}}{{end}}
        </p>
      </li>
    {{end}}
  </ul>
{{end}}

{{template "bottom"}}
{{end}}
