{{define "edit"}}
{{template "top"}}
{{template "display-pwd"}}

<p><a href="/home">mima-go</a> .. Edit</p>

<hr />

{{if .Err}}
  <p style="font-weight: bold; color: red">
  Error: {{.Err}}
  </p>
{{end}}

{{ if .ID }}
<form action="/edit/" method="POST" autocomplete="off">
  <input type="hidden" name="id" value="{{.ID}}" />
  <label for="Title">Title:</label>
    <input type="text" name="Title" id="Title" class="Fields" autofocus required
           value="{{.Title}}" onblur="this.value = this.value.trim()" />
  <label for="Alias">Alias:</label>
    <input type="text" name="Alias" id="Alias" class="Fields"
          value="{{.Alias}}" onblur="this.value = this.value.trim()" />
  <label for="Username">Username:</label>
    <input type="text" name="Username" id="Username" class="Fields"
           value="{{.Username}}" onblur="this.value = this.value.trim()" />
  <label for="Password">Password: (<a href="#" onclick="generatePW()">generate</a>)</label>
    <input type="text" name="Password" id="Password" class="Fields"
           style="font-family:serif;"
           value="{{.Password}}" oninput="display_pwd()" />
    <div id="pwd" style="font-size: larger;margin-left: 1.1em;"></div>
  <label for="Notes">Notes:</label>
    <textarea name="Notes" id="Notes" class="Fields">{{.Notes}}</textarea>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>
<script>
  display_pwd()
</script>
{{end}}

{{if .Info}}
  <p style="font-weight: bold; color: blue">
    Info: {{.Info}}
  </p>
{{end}}

{{if .History}}
  <p>History</p>
  <hr />
  <ul>
    {{range .History}}
      <li id="{{.DateTime}}">
        <div>
          <strong>{{.Title}}</strong>
          <a href="#" onclick="this.style.display = 'none';
              this.parentElement.getElementsByTagName('span')[0].style.display = 'inline'">delete</a>
          <span style="display: none">
            <span style="color: red">真的删除吗? (不可恢复)</span>
            <button onclick="deleteHistory({{$.ID}}, {{.DateTime}})">delete</button>
          </span>
          <br />
          <span class="Deleted" style="font-size:x-small;color:grey">DateTime: {{.DateTime}}</span><br />
          {{if .Username}}Username:{{.Username}}{{end}}
          {{if .Password}}Password:{{.Password}}<br />{{end}}
          {{if .Notes}}Notes: {{.Notes}}{{end}}
        </div>
      </li>
    {{end}}
  </ul>

  <script>
    function deleteHistory(id, datetime) {
      const xhr = new XMLHttpRequest();
      const FD = new FormData();
      FD.append("id", id);
      FD.append("datetime", datetime);

      xhr.open('POST', '/api/delete-history');
      xhr.onload = function() {
        if (xhr.status === 200) {
          document.getElementById(datetime).remove();
        } else {
          console.log(xhr.responseText);
          window.alert(xhr.responseText);
        }
      };
      xhr.onerror = function() {
        window.alert('出错, 删除历史记录失败.');
      };
      xhr.send(FD);
    }
  </script>
{{end}}

{{template "bottom"}}
{{end}}
