{{define "index"}}
{{template "top"}}
<p>mima-go .. All (<a href="/logout">logout</a>)</p>

<hr />

<p style="text-align:right">
<a href="/Alias">Alias</a>
 . <a href="/add">Add</a>
 . <a href="/recyclebin">Recycle Bin</a>
</p>

<ul>
    {{range .}}
    <li>
        <p>
            <strong>{{.Title}}</strong>
            <span class="ButtonsForTitle">
                {{if .Username}}<a href="#">名</a>{{end}}
                {{if .Password}}<a href="#">密</a>{{end}}
                <a href="/edit?id={{.ID}}">改</a>
                <a href="/delete?id={{.ID}}">删</a>
            </span><br />
            {{if .Alias}}[{{.Alias}}]<br/>{{end}}
            {{if .Username}}{{.Username}}<br/>{{end}}
            {{if .Notes}}{{.Notes}}{{end}}
        </p>    
    </li>
    {{ else }}
    <li>空空如也。</li>
    {{end}}
</ul>

{{template "bottom"}}
{{end}}
