{{define "recover-from-ibm"}}
    {{template "top"}}
    <p class="top-banner"><a href="/home">mima-go</a> .. <strong>Recover From IBM</strong></p>

    <hr style="margin-bottom: 2em;" />

    <ul>
        <li>在创建云端备份时, 曾填写过以下信息, 现在从云端恢复数据到本地, 需要填写与当时一样的信息以验证身份.</li>
        <li>参考: 创建云端备份的页面 <a href="/setup-cloud" target="_blank">Setup Cloud</a></li>
    </ul>

    {{if .ErrMsg}}
        <p style="font-weight: bold; color: red">Error: {{.ErrMsg}}</p>
    {{end}}

    <form action="/recover-from-ibm/" method="POST" autocomplete="off">
        <label for="apiKey"><span style="font-weight: bold">apiKey</span>:</label>
        <input type="text" name="apiKey" id="apiKey" class="Fields" value="{{.ApiKey}}" autofocus/>
        <label for="serviceInstanceID"><span style="font-weight: bold">resource_instance_id</span> (serviceInstanceID):</label>
        <input type="text" name="serviceInstanceID" id="serviceInstanceID" class="Fields" value="{{.ServiceInstanceID}}"/>
        <label for="serviceEndpoint"><span style="font-weight: bold">Endpoint</span> (Public):</label>
        <input type="text" name="serviceEndpoint" id="serviceEndpoint" class="Fields" value="{{.ServiceEndpoint}}"/>
        <label for="bucketLocation">Bucket <span style="font-weight: bold">Location</span>:</label>
        <input type="text" name="bucketLocation" id="bucketLocation" class="Fields" value="{{.BucketLocation}}"/>
        <label for="bucketName">Bucket <span style="font-weight: bold">Name</span>:</label>
        <input type="text" name="bucketName" id="bucketName" class="Fields" value="{{.BucketName}}"/>
        <label for="objectName">Object Name (Object Key):</label>
        <input type="text" name="objectName" id="objectName" class="Fields" value="{{.BucketName}}"/>
        <p>
            <input type="submit" value="Submit" onclick="this.value='loading...';this.setAttribute('disabled','');"/>
        </p>
    </form>

    <script>
        const fields = document.getElementsByClassName('Fields');
        for (let field of fields) {
            field.style.width = '25em';
            field.style.marginBottom = '1em';
        }
    </script>

    {{template "bottom"}}
{{end}}
