{{define "recyclebin"}}
{{template "top"}}

<p><a href="/home">mima-go</a> .. <strong>Recycle Bin</strong></p>

<hr />
<p style="text-align:right">
    <a href="/delete-tarballs">删除备份文件</a>
</p>

<ul>
    {{range .}}
    <li>
        <p>
            <strong>{{.Title}}</strong>
            <span class="ButtonsForTitle">
              <a id="recover" href="/undelete?id={{.ID}}">recover</a>
              <a id="delete" href="/delete-forever?id={{.ID}}">delete</a>
            </span><br />
            <span class="Deleted" style="font-size:x-small;color:grey">deleted at {{.DeletedAt}}</span><br />
            {{if .Alias}}[{{.Alias}}]{{end}}
            {{if .Username}}{{.Username}}<br />{{end}}
            {{if .Notes}}Notes: {{.Notes}}{{end}}
        </p>
    </li>
    {{ else }}
    <li>没有垃圾。</li>
    {{end}}
</ul>

{{template "bottom"}}
{{end}}
