{{define "recyclebin"}}
{{template "top"}}

<p><a href="/home">mima-go</a> .. <strong>Recycle Bin</strong></p>

<div id="more-than-10" style="display: none">
    <hr />
    <p style="text-align:right"><a href="/delete-tarballs">删除备份文件</a></p>
</div>
<div id="less-than-10" style="display: none"><hr style="margin-bottom: 2em;" /></div>

<ul>
    {{range .}}
    <li>
        <p>
            <strong>{{.Title}}</strong>
            <span class="ButtonsForTitle">
              <a id="recover" href="/undelete?id={{.ID}}">recover</a>
              <a id="delete" href="/delete-forever?id={{.ID}}">delete</a>
            </span><br />
            <span class="Deleted" style="font-size:x-small;color:grey">deleted at {{.DeletedAt}}</span><br />
            {{if .Alias}}[{{.Alias}}]{{end}}
            {{if .Username}}{{.Username}}<br />{{end}}
            {{if .Notes}}Notes: {{.Notes}}{{end}}
        </p>
    </li>
    {{ else }}
    <li>没有垃圾。</li>
    {{end}}
</ul>

<script>
    function countTarballs() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/count-tarballs');
        xhr.onload = function () {
            if (this.status === 200) {
                document.getElementById('more-than-10').style.display = "block";
            } else {
                console.log(xhr.responseText);
                document.getElementById('less-than-10').style.display = "block";
            }
        };
        xhr.onerror = function () {
            console.log('出错！获取数据失败。');
        };
        xhr.send();
    }
    countTarballs();
</script>
{{template "bottom"}}
{{end}}
