{{define "search"}}
    {{template "top"}}
    <p class="top-banner">mima-go .. <strong>Search Alias</strong> (<a href="/logout">logout</a>)</p>

    <hr/>

    <p style="text-align:right">
        <a href="/index">Show All</a>
        . <a href="/add">Add</a>
        . <a href="/backup-to-cloud-loading/">Cloud</a>
        . <a href="/recyclebin">Recycle Bin</a>
    </p>

    <form action="/search/" method="post" autocomplete="off">
        <label for="alias">Search Alias</label>
        <input type="text" name="alias" id="alias" class="Fields" autofocus required
               {{if .SearchText}}value="{{.SearchText}}"{{end}} />
        <input type="submit" value="Submit"/>
    </form>

    {{if .Err}}
        <p style="font-weight: bold; color: blue">{{.Err}}</p>
    {{end}}
    <ul style="margin-top: 2em;">
        {{range .Forms}}
        <li>
            <strong>{{.Title}}</strong>
            <span class="ButtonsForTitle">
                {{if .Username}}<a href="#" onclick="copyInBackground({id:'{{.ID}}'}, '/api/copy-username')">名</a>{{end}}
                {{if .Password}}<a href="#" onclick="copyInBackground({id:'{{.ID}}'}, '/api/copy-password')">密</a>{{end}}
                <a href="/edit?id={{.ID}}">改</a>
                <a href="/delete?id={{.ID}}">删</a>
            </span><br/>
            {{if .Alias}}[{{.Alias}}]<br/>{{end}}
            {{if .Username}}{{.Username}}{{end}}
        </li>
        {{end}}
    </ul>

    <script type="text/javascript">
        const e = document.getElementById("alias");
        e.focus();
        e.select();
    </script>

    {{template "copy-in-background"}}
    {{template "bottom"}}
{{end}}
